#form{
 padding: 20px;  
margin-top: 30px;
margin-left: auto;
margin-right: auto;

}
.aria{
    background-color: rgba(65, 105, 225, 0.178);
    justify-content: center;
    
}
#label{
    margin-left: 40px;
    text-align: center;
}
#input{
    align-items: center;
    width: 200px;
}
.todo_{    
    margin-left: auto;
    margin-right: auto;        
    width: 70%;
    padding: 50px;   
    background: rgba(255, 0, 0, 0.568);
    height: 18px;

}
.todo_done{
    margin-left: auto;
    margin-right: auto;        
    width: 70%;
    padding: 50px;   
    background: rgba(0, 128, 0, 0.575);
    height: 18px;

}

.text_done{
text-decoration: line-through;
text-align-last: center;

}

#previous{
   width: 100px;
}

#next{    
    width: 100px;  
  
}

.navPage{
    display: flexbox;
    margin-left: 45%;
    margin-right: 20%;
    flex-direction: row;
    justify-items:center;
    align-content:space-between;  
    
}
